* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Strong_Cyan : hsl(171, 66%, 44%);
    --Light_Blue : hsl(233, 100%, 69%);
    --Dark_Grayish : hsl(210, 10%, 33%);
    --Grayish_Blue : hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 17px;
}

body button {
    width: 312px;
    height: 56px;
    border-radius: 63px;
    color: white;
    border-color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
}