.body__header {
    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.body__header img {
    /* width: 20%; */
    padding: 125px 122px 75px;
}

.body__header h1 {
    text-align: center;
    padding: 0 38px;
    font-size: 30px;
    color: var(--Dark_Grayish);
    font-weight: 600;
}

.body__header p {
    text-align: center;
    padding: 33px 25px 40px;
    color: var(--Grayish_Blue);
    line-height: 25px;
}

.body__header--boton-cyan {
    background-color: var(--Strong_Cyan);
    margin-bottom: 24px;
}

.body__header--boton-blue {
    background-color: var(--Light_Blue);
}